<ul class="breadcrumb">
  <li>
	<%= link_to "Punjab", compliance_report_province_path('punjab'), :method => :get %> <span class="divider">/</span>
  </li>
  <% if @officer %>
	  <li>
		<%= link_to "#{@officer.district.name.titleize}", compliance_report_district_path(@officer.district) %> <span class="divider">/</span>
	  </li>
	  <li>
		<%= link_to "#{@officer.name.titleize}", compliance_report_user_path(@officer) %> <span class="divider">/</span>
	  </li>
  <% else %>
	  <li>
		Unknown <span class="divider">/</span>
	  </li>
	  <li>
		Unknown <span class="divider">/</span>
	  </li>
  <% end %>
 
  <li class="active"><%=@phone_entry.detail.class.model_name.human%> entry</li>
</ul>

<div class="page-header"> <h1> <%=  @officer ? @officer.name.titleize : "Unknown" %> <div id="visualization_type" class="pull-right" style="font-weight:normal;"><%= @phone_entry.detail.class.model_name.human %> Entry</div></h1> </div>
<br/>

<div id="myModal" class="modal hide fade">

	<div class="modal-header">
		<a class="close" data-dismiss="modal" >&times;</a>
		<h3>Image for Visit</h3>
	</div>
	<div class="modal-body">
		<%= image_tag @phone_entry.photo.url(:original) %>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" >Close</a>
	</div>
</div>

<legend>Entry Data</legend>
<div class="row">
	<div class="span3">
      <ul class="thumbnails">
        <li class="span3">
          <a id="first" class="thumbnail">
			<% if @phone_entry.photo.exists? %>
				<%= image_tag @phone_entry.photo.url(:thumb) %>
			<% else %>
				<img src="http://placehold.it/300x220&text=No+Image+Received" alt="">
			<% end %>
          </a>
        </li>
		</ul>
	</div>

	<div class="span1_5">
		<h4>Conducted By: </h4> <br/>
		<h4>Conducted On: </h4><br/>
		<h4>Time Spent: </h4><br/> 
		<h4>Received On: </h4><br/>
	</div>
	<div class="span6">
		<%= @officer ? @officer.name.titleize : "Unknown"%> <br/><br/>
		<%= @phone_entry.start_time.strftime("%A, %B #{@phone_entry.start_time.day.ordinalize} %Y at %I:%M %p") %> <br/><br/>
		<%= distance_of_time_in_words(@phone_entry.start_time,@phone_entry.end_time) %><br/><br/>
		<%=distance_of_time_in_words(@phone_entry.start_time,@phone_entry.meta_submission_date) %> later on <%= @phone_entry.meta_submission_date.strftime("%A, %B #{@phone_entry.meta_submission_date.day.ordinalize} %Y at %I:%M %p") %><br/><br/>

	</div>
</div>

<div class = "row">
	<div class="span12">
		<legend><%=@entry_detail.class.model_name.human.titleize %> Entry Details</legend>
	</div>
	
	<div class="span8">
		<%= render :partial => 'entry_details', :locals => { :entry => @phone_entry } %>
	</div>
	<% if @entry_detail.attributes.has_key? "photo_url" %>
	<div id="Modal2" class="modal hide fade">
		<div class="modal-header">
			<a class="close" data-dismiss="modal" >&times;</a>
			<h3>Image for <%=@entry_detail.class.model_name.human.titleize%></h3>
		</div>
		<div class="modal-body">
			<%= image_tag @entry_detail.photo.url(:thumb) %>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal" >Close</a>
		</div>
	</div>
	
		<div class="span4">
		  <ul class="thumbnails">
			<li class="span4">
			  <a class="thumbnail" id="second">
				<% if @entry_detail.photo.exists? %>
					<%= image_tag @entry_detail.photo.url(:thumb) %>
				<% else %>
					<img src="http://placehold.it/300x220&text=No+Image+Received" alt="">
				<% end %>
			  </a>
			</li>
			</ul>
		</div>
	<% end %>
</div>

<legend>Entry Map</legend>
<%= gmaps(:map_options => { :auto_adjust => "true", :type => "HYBRID", :raw => '{ streetViewControl: false }' },
		  :markers     => { :data => generate_entry_marker(@phone_entry), :options => {:do_clustering => false } })
 %>	