<ul class="breadcrumb">
  <li>
	<%= link_to "Punjab", compliance_report_province_path('punjab'), :method => :get %> <span class="divider">/</span>
  </li>
  <% if @officer %>
	  <li>
		<%= link_to "#{@officer.district.name.titleize}", compliance_report_district_path(@officer.district) %> <span class="divider">/</span>
	  </li>
	  <li>
		<%= link_to "#{@officer.name.titleize}", compliance_report_user_path(@officer) %> <span class="divider">/</span>
	  </li>
  <% else %>
	  <li>
		Unknown <span class="divider">/</span>
	  </li>
	  <li>
		Unknown <span class="divider">/</span>
	  </li>
  <% end %>
 
  <li class="active"><%=@phone_entry.type%> entry</li>
</ul>

<div class="page-header"> <h1>Visit Report<small> - <%= @phone_entry.type %></small> </h1> </div>
<br/>

<div id="myModal" class="modal hide fade">

	<div class="modal-header">
		<a class="close" data-dismiss="modal" >&times;</a>
		<h3>Image for Visit</h3>
	</div>
	<div class="modal-body">
		<%= image_tag @phone_entry.photo.url(:original) %>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" >Close</a>
	</div>
</div>
<legend>Entry Data</legend>
<div class="row">
	<div class="span3">
      <ul class="thumbnails">
        <li class="span3">
          <a class="thumbnail">
			<% if @phone_entry.photo.exists? %>
				<%= image_tag @phone_entry.photo.url(:thumb) %>
			<% else %>
				<img src="http://placehold.it/300x220&text=No+Image+Received" alt="">
			<% end %>
          </a>
        </li>
		</ul>
	</div>

	<div class="span1_5">
		<h4>Conducted By: </h4> <br/>
		<h4>Conducted On: </h4><br/>
		<h4>Time Spent: </h4><br/> 
		<h4>Received On: </h4><br/>
		<% if @school %>
			<h4>Distance from School: </h4> <br/>
			<h4>Distance from CTSC: </h4><br/>
		<% end %>
	</div>
	<div class="span6">
		<%= @officer ? @officer.name.titleize : "Unknown"%> <br/><br/>
		<%= @phone_entry.start_time.strftime("%A, %B #{@phone_entry.start_time.day.ordinalize} %Y at %I:%M %p") %> <br/><br/>
		<%= distance_of_time_in_words(@phone_entry.start_time,@phone_entry.end_time) %><br/><br/>
		<%=distance_of_time_in_words(@phone_entry.start_time,@phone_entry.meta_submission_date) %> later on <%= @phone_entry.meta_submission_date.strftime("%A, %B #{@phone_entry.meta_submission_date.day.ordinalize} %Y at %I:%M %p") %><br/><br/>
		<% if @school %>
			<%= @distance_of_entry_to_school? number_to_human(@distance_of_entry_to_school, :units => :distance)+" give or take "+ number_to_human(@phone_entry.location_accuracy, :units => :distance) : "Unknown" %><br/><br/>
			<%= @distance_of_entry_to_ctsc? number_to_human(@distance_of_entry_to_ctsc, :units => :distance)+" give or take "+ number_to_human(@phone_entry.location_accuracy, :units => :distance) : "Unknown" %><br/><br/>
		<% end %>
	</div>
</div>

<div class = "row">
	<div class="span12">
		<% if @school %>
			<div class = "row">
				<div class="span7">
					<legend><%=@entry_detail.class.model_name.human.titleize %></legend>
					<%= render :partial => 'entry_details', :locals => { :entry => @phone_entry } %>
				</div>
				<div class="span5">
					<legend>School Data</legend>
					<div class = "row">
						<div class="span1_5">
							<br/>
							<h4>EMIS Code: </h4> <br/>
							<h4>Name: </h4> <br/>
							<h4>Level: </h4> <br/>
							<h4>District: </h4> <br/>
							<h4>Tehsil: </h4> <br/>
							<h4>Location: </h4> <br/>
							<h4>Distance from CTSC: </h4> <br/>
						</div>
						<div class="span2_5">
							<br/>
							<%= @school.emiscode %><br/><br/>
							<%= @school.school_name %><br/><br/>
							<%= @school.school_level %><br/><br/>
							<%= @school.district.district_name %><br/><br/>
							<%= @school.tehsil.tehsil_name %><br/><br/>
							<%= @school.school_location.school_location_description %><br/><br/>
							<%= @distance_of_school_to_ctsc? number_to_human(@distance_of_school_to_ctsc, :units => :distance) : "Unknown" %><br/><br/>
						</div>	
					</div>
			</div>
		<% else %>
			<legend><%=@entry_detail.class.model_name.human.titleize %></legend>
			<%= render :partial => 'entry_details', :locals => { :entry => @phone_entry } %>
		<% end %>
	</div>
</div>

<legend>Activity Map</legend>
<%= gmaps(:map_options => { :auto_adjust => "true", :type => "HYBRID", :raw => '{ streetViewControl: false }' },
		  :markers     => { :data => generate_school_markers([@phone_entry,@school,@cluster]) })
 %>	
