<div class="page-header"> <h1>Visit Report<small> - <%= @phone_entry.type %></small> </h1> </div>
<br/>

<div id="myModal" class="modal hide fade">

	<div class="modal-header">
		<a class="close" data-dismiss="modal" >&times;</a>
		<h3>Image for Visit</h3>
	</div>
	<div class="modal-body">
		<%= image_tag @phone_entry.photo.url(:original) %>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" >Close</a>
	</div>
</div>

<legend>Entry Data</legend>
<div class = "row"> 
	<div class="span3">
      <ul class="thumbnails">
        <li class="span3">
          <a class="thumbnail">
			<% if @phone_entry.photo.exists? %>
				<%= image_tag @phone_entry.photo.url(:thumb) %>
			<% else %>
				<img src="http://placehold.it/260x180&text=No+Image+Received" alt="">
			<% end %>
          </a>
        </li>
		</ul>
	</div>

	<div class="span1_5">
		<br/>
		<h4>Conducted By: </h4> <br/>
		<h4>Officer District: </h4><br/>
		<h4>Conducted On: </h4><br/>
		<h4>Time Spent: </h4><br/> 
		<h4>Received On: </h4><br/> 
	</div>
	<div class="span5">
	<br/>
		<%= @officer.name.titleize %> <br/><br/>
		<%= @officer.district.district_name.capitalize %><br/><br/>
		<%= @phone_entry.start_time.strftime("%A, %B #{@phone_entry.start_time.day.ordinalize} %Y at %I:%M %p") %> <br/><br/>
		<%= distance_of_time_in_words(@phone_entry.start_time,@phone_entry.end_time) %><br/><br/>
		<%=distance_of_time_in_words(@phone_entry.start_time,@phone_entry.meta_submission_date) %> later on <%= @phone_entry.meta_submission_date.strftime("%A, %B #{@phone_entry.meta_submission_date.day.ordinalize} %Y at %I:%M %p") %><br/><br/>
	</div>
</div>

<% if @school %>
	<div class="span6">
		<legend><%=@entry_detail.class.model_name.human.titleize %></legend>
	</div>
	<div class="span5">
		<legend>School Data</legend>
	</div>
<% else %>
		<legend><%=@entry_detail.class.model_name.human.titleize %></legend>
<% end %>
	<div class = "row"> 
		<div class="span1_5">
		<br/>
			<% if @phone_entry.type == "Assessment" %>
				<h4><%=AssessmentDetail.human_attribute_name("students_grade3")%>: </h4> <br/>
				<h4><%=AssessmentDetail.human_attribute_name("students_grade4")%>: </h4><br/>
				<h4><%=AssessmentDetail.human_attribute_name("students_grade5")%>: </h4><br/>
				<h4><%=AssessmentDetail.human_attribute_name("teachers_present")%>: </h4><br/> 
				<h4><%=AssessmentDetail.human_attribute_name("tasks_identified")%>: </h4><br/> 
				
			</div>
		
			<div class="span2_5">
				<br/>
				<%= pluralize(@entry_detail.students_grade3,"Student") %> <br/><br/>
				<%= pluralize(@entry_detail.students_grade4,"Student") %><br/><br/>
				<%= pluralize(@entry_detail.students_grade5,"Student") %> <br/><br/>
				<%= pluralize(@entry_detail.teachers_present,"Teacher") %><br/><br/>
				<%= pluralize(@entry_detail.tasks_identified,"Task") %><br/><br/>
			</div>
				
			<% end %>
			
			<% if @phone_entry.type == "Mentoring" %>
				<h4><%=MentoringDetail.human_attribute_name("teachers_present")%>: </h4> <br/>
				<h4><%=MentoringDetail.human_attribute_name("students_present")%>: </h4><br/>
				<h4><%=MentoringDetail.human_attribute_name("score_indicator1")%>: </h4><br/>
				<h4><%=MentoringDetail.human_attribute_name("score_indicator2")%>: </h4><br/>
				<h4><%=MentoringDetail.human_attribute_name("score_indicator3")%>: </h4><br/>
				<h4><%=MentoringDetail.human_attribute_name("score_indicator4")%>: </h4><br/>
				<h4><%=MentoringDetail.human_attribute_name("tasks_completed")%>: </h4><br/> 
				<h4><%=MentoringDetail.human_attribute_name("report_cards_issued")%>: </h4><br/> 
			</div>
		
			<div class="span2_5">
				<br/>
				<%= pluralize(@entry_detail.teachers_present,"Teacher") %><br/><br/>
				<%= pluralize(@entry_detail.students_present,"Student") %><br/><br/>
				<%= @entry_detail.score_indicator1 %><br/><br/>
				<%= @entry_detail.score_indicator2 %><br/><br/>
				<%= @entry_detail.score_indicator3 %><br/><br/>
				<%= @entry_detail.score_indicator4 %><br/><br/>
				<%= pluralize(@entry_detail.tasks_completed,"Task") %><br/><br/>
				<%= pluralize(@entry_detail.report_cards_issued,"Report Card") %><br/><br/>
			</div>
				
			<% end %>
			
			<% if @phone_entry.type == "PdDte" %>
				<h4><%=PdDteDetail.human_attribute_name("conducted_at")%>: </h4> <br/>
				<h4><%=PdDteDetail.human_attribute_name("education_officer")%>: </h4><br/>
				<h4><%=PdDteDetail.human_attribute_name("dtsc_head_te")%>: </h4><br/>
				<h4><%=PdDteDetail.human_attribute_name("present_dtes")%>: </h4><br/>
				<h4><%=PdDteDetail.human_attribute_name("present_ltes")%>: </h4><br/>
				<h4><%=PdDteDetail.human_attribute_name("activity_monitored_by")%>: </h4><br/>
				
			</div>
		
			<div class="span2_5">
				<br/>
				<%= @entry_detail.conducted_at %><br/><br/>
				<%= @entry_detail.education_officer %><br/><br/>
				<%= @entry_detail.dtsc_head_te %><br/><br/>
				<%= pluralize(@entry_detail.present_dtes,"DTE") %><br/><br/>
				<%= pluralize(@entry_detail.present_ltes,"LTE") %><br/><br/>
				<%= @entry_detail.activity_monitored_by %><br/><br/>
			</div>
			
			<% end %>
			
			<% if @phone_entry.type == "PdPst" %>
				<h4><%=PdPstDetail.human_attribute_name("teachers_present")%>: </h4> <br/>
				<h4><%=PdPstDetail.human_attribute_name("teachers_absent")%>: </h4><br/>
				<h4><%=PdPstDetail.human_attribute_name("present_dtes")%>: </h4><br/>
				<h4><%=PdPstDetail.human_attribute_name("conducted_by_ctsc_head")%>: </h4><br/>
				<h4><%=PdPstDetail.human_attribute_name("activity_monitored_by")%>: </h4><br/>								
			</div>
		
			<div class="span2_5">
				<br/>
				<%= pluralize(@entry_detail.teachers_present,"Teacher") %><br/><br/>
				<%= pluralize(@entry_detail.teachers_absent,"Teacher") %><br/><br/>
				<%= pluralize(@entry_detail.present_dtes,"DTE") %><br/><br/>
				<%= @entry_detail.conducted_by_ctsc_head %><br/><br/>
				<%= @entry_detail.activity_monitored_by %><br/><br/>
			</div>
			<% end %>			
		<% if @school %>
			<div class="span1_5">
			<br/>
					<h4>EMIS Code: </h4> <br/>
					<h4>Name: </h4> <br/>
					<h4>Level: </h4> <br/>
					<h4>District: </h4> <br/>
					<h4>Tehsil: </h4> <br/>
					<h4>Location: </h4> <br/>
			</div>
			<div class="span3">
				<br/>
				<%= @school.emiscode %><br/><br/>
				<%= @school.school_name %><br/><br/>
				<%= @school.school_level %><br/><br/>
				<%= @school.district.district_name %><br/><br/>
				<%= @school.tehsil.tehsil_name %><br/><br/>
				<%= @school.school_location.school_location_description %><br/><br/>
				
			</div>
		<% end %>
	</div>