<%= simple_form_for :time_filter, :remote => true, :html => {:"data-spinner" => "#time_filter_spinner"} do |f| %>
	<div class="inputs">
		<div class="row">
			<div class="span4">
				<% if parent %>
					<%=f.hidden_field :id, :value => parent.id %>
				<% end %>
				<%= f.input :start_time, :label=> false, :as => :date, :start_year => 2011, :discard_day => true,
                              :order => [:month, :year], :default=> @start_time, :input_html => { :class => "span2" } %> 
			</div>
			<% end %>

			<div class="span8">
				<%= medium_spinner_tag 'time_filter_spinner' %>
			  <div class="btn-toolbar pull-right">
			  		
					<div class="btn-group ">
						<a id="activity_selector" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<%= @activities[0].reflections[:detail].klass.model_name.human %> 
						<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
						<!-- dropdown menu links -->
					    <ul class="nav nav-list">
						
							<li class="nav-header">
								<legend style="margin-bottom:5px;"><h6>Reporting</h6></legend>
							</li>
							<li class="active"><a href="#" data-activity="<%=@activities[0].name%>" data-activity_name="<%=@activities[0].reflections[:detail].klass.model_name.human%>" id="<%=@activities[0]%>" data-toggle="tab" class="activity-toggle"> <%=@activities[0].reflections[:detail].klass.model_name.human%></a></li>
							<% for activity in @activities[1..6]%>
								<li><a href="#" id="<%=activity%>" data-activity="<%=activity.name%>" data-activity_name="<%=activity.reflections[:detail].klass.model_name.human%>" data-toggle="tab" class="activity-toggle"> <%=activity.reflections[:detail].klass.model_name.human%></a></li>
							<% end %>
							
							<% if @activities.size >= 8 %>
								<li class="nav-header">
									<legend style="margin-bottom:5px;"><h6>Monitoring</h6></legend>
								</li>
								<% for activity in @activities[7..@activities.size-1]%>
									<li><a href="#" id="<%=activity%>" data-activity="<%=activity.name%>" data-activity_name="<%=activity.reflections[:detail].klass.model_name.human%>" data-toggle="tab" class="activity-toggle"> <%=activity.reflections[:detail].klass.model_name.human%></a></li>
								<% end %>
							<% end %>
						</ul>
					</div>

					<div class="btn-group ">
					<% indicators = @activities[0].indicators2.find_all{|indicator| indicator.indicator_type == "integer" } %>
						<a id="indicator_selector" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<%= indicators[0].full_name %> 
						<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
						<!-- dropdown menu links -->
					    <ul id="indicator_set" class="nav nav-list">
							<li class="nav-header">
								Look at
							</li>
							<li class="active"><a href="#" data-indicator="<%=indicators[0].indicator_activity.name+"_"+indicators[0].hook%>" data-indicator_name="<%=indicators[0].full_name%>" id="<%=indicators[0].hook%>" data-toggle="tab" class="indicator-toggle"> <%=indicators[0].full_name%></a></li>
							<% for indicator in indicators[1..indicators.size-1]%>
								<li><a href="#" id="<%=indicator.hook%>" data-indicator="<%=indicator.indicator_activity.name+"_"+indicator.hook%>" data-indicator_name="<%=indicator.full_name%>" data-toggle="tab" class="indicator-toggle"> <%=indicator.full_name%></a></li>
							<% end %>
						</ul>
					</div>
					
					<% if parent.class.name!="Visitor" and parent.class.name!="HealthFacility" %>
						<div class="btn-group">
							<a id="visualization_selector" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-signal"></i> Barchart
							<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
							<!-- dropdown menu links -->
							<ul class="nav nav-list">
								<li class="nav-header">
									Look at
								</li>
								<li class="active"><a href="#total_compliance_barchart" id="barchart_link" data-visualization="Barchart" data-toggle="tab" class="visualization-toggle"><i class="icon-signal"></i> Barchart</a></li>
								<li><a href="#total_compliance_barchart" id="trend_link" data-visualization="Trend" data-toggle="tab" class="visualization-toggle"><i class="icon-time"></i> Trend</a></li>
							</ul>
						</div>
					<% end %>
					</div>
			</div>
		</div>
	</div>