<div class="page-header"> <h1>Compliance Report <small> - <%= @officer.name.titleize %></small> </h1> </div>
<br/>

<legend>Activity Table</legend>
<%= simple_form_for :time_filter, :remote => true, :html => {:"data-spinner" => "#time_filter_spinner"} do |f| %>
	<div class="inputs">
		<div class="row">
		<%=f.hidden_field :id, :value => @officer.id %>
			<center> From: <%= f.text_field :start_time, :value=>Time.now.prev_month.beginning_of_month.strftime("%d-%m-%Y"), :class => "span1_5 calendar_field"  %> 
				Till: <%= f.text_field :end_time, :value=>Time.now.prev_month.end_of_month.strftime("%d-%m-%Y"),  :class => "span1_5 calendar_field"  %> 
				<%= f.button :submit, "Filter Results", :class => 'btn-info x' %> <%= spinner_tag 'time_filter_spinner' %>
			</center>
		</div>
	</div>
<% end %>
<div class = "row"> 
	<div class="span8">
		<h4>Name: <small><%= @officer.name.titleize %></small> </h4><br/>
		<h4>District: <small> <%= @officer.district.district_name.capitalize %> </small></h4><br/>
	</div>
	<div class="span4">
		<div class="well">
		<table class="table" >
			<thead>
				<th>Activity</th>
				<th>Count</th>
			</thead>
			<tbody>
				<tr><td>Child Health Reports Submitted:</td><td><div id = "child_healths_count"> <%= @child_health_count %></div></td> </tr>
				<tr><td>Household Health Reports Submitted:</td><td><div id = "house_healths_count"> <%= @household_count %></div></td> </tr>
				<tr><td>Family Planning Reports Submitted:</td><td><div id = "fp_count"> <%= @fp_count %></div></td> </tr>
				<tr><td>Maternity Reports Submitted:</td><td><div id = "maternity_count"> <%= @maternal_count %></div></td> </tr>
				<tr><td>Newborn Reports Submitted:</td><td><div id = "newborn_count"> <%= @newborn_count %></div></td> </tr>
				<tr><td>Support Group Meetings Conducted:</td><td><div id = "support_meetings_count"> <%= @support_count %></div></td> </tr>
				<tr><td>Total Activities Conducted:</td><td><strong><div id = "totals_count"><%= @child_health_count+@household_count+@fp_count+@maternal_count+@newborn_count+@support_count %></div></strong></td></tr>
			</tbody>
		</table>
	</div>
	</div>
</div>

<div id="chart"><%= render 'user_compliance_table' %></div>

<legend>Activity Timeline</legend>
<div id='graph' style='width: 1200px; height: 600px;'></div>
<%= render_chart officer_activities_timeline(@officer), 'graph' %>

