<h2>Edit <%= @user.name %></h2>

<%= simple_form_for(@user, :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>
  <%= render :partial => 'user_fields', :locals => { :f => f } %>

  <div class="actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>