<ul class="breadcrumb">
  <li>
	<%= link_to "Punjab", indicators_report_province_path('punjab'), :method => :get %> <span class="divider">/</span>
  </li>
  <li>
	<%= link_to "#{@officer.district.name.titleize}", indicators_report_district_path(@officer.district) %> <span class="divider">/</span>
  </li>
  <li class="active"><%=@officer.name.titleize%></li>
</ul>

<div class="page-header"> <h1> <%= @officer.name.titleize %> <div id="indicator_type" class="pull-right" style="font-weight:normal; font-size:27px;"> Number of Live Births</div> <div id="indicator_type" class="pull-right" style="font-weight:normal; font-size:27px;"> &nbsp-&nbsp </div> <div id="visualization_type" class="pull-right" style="font-weight:normal; font-size:27px;">Barchart</div> </h1> </div>

<%= render  :partial => 'partials/indicator_controls', :locals => { :parent => @officer} %>

	<div class="alert alert-info fade in" data-alert="alert">
		<a class="close" data-dismiss='alert' href="#">x</a>
		<div id="help_bar">
			This graph plots the <strong>performance of the entire district across time</strong> for the given indicator. This lets you quickly <strong>analyze the trend</strong> of the given indicator for the officer in question. The entire district's average performance is also plotted for comparison.
		</div>
	</div>
	
	<div class="chart_panel" id='visualization_area'>
		<div id="loading2" class="loading"><h2>Loading Please Wait</h2>  <%= image_tag("large-spinner.gif", :alt => "Loading....") %></div>		
	</div>

<legend> Entries History </legend>
<div id="chart"><%= render '/phone_entries/entries_table' %></div>

<script type="text/javascript">

	
	preloading_functions["Trend"] = function()
	{
		<%= render_chart_define_chart indicator_graph(@officer,@indicators[0],'auto',550), 'visualization_area'%>
		$("#help_bar").html(
			"This graph plots the <strong>performance of the entire district across time</strong> for the given indicator. This lets you quickly <strong>analyze the trend</strong> of the given indicator for the officer in question. The entire district's average performance is also plotted for comparison"
		);
	}
	
	<% for indicator in @indicators %>
		
		loading_functions["Trend"]["<%=indicator.indicator_activity.name+"_"+indicator.hook%>"] = function()
		{
			<%= render_chart_with_transition indicator_graph([@officer,@district],indicator,'auto',550), 'visualization_area' %>
		}
		
	<% end %>
	
</script>