<table class="table table-striped" id="districts_activities_dtable">
	<thead>
	<tr>
		<th colspan="1"></th>
		<th colspan="1"></th>
		<th colspan="1"></th>
		<th colspan="2"><center>Activities Conducted</center></th>
		<th colspan="2"><center>Sessions Attended</center></th>
		<th colspan="1"></th>
	</tr>
	<tr>
		<th>District</th>
		<th><center>Number of Schools</center></th>
		<th><center>Number of DTEs Assigned</center></th>
		<th><center>Assessments </center></th>
		<th><center>Mentorings</center></th>
		<th><center>PD PST</center></th>
		<th><center>PD DTE</center></th>
		<th><center>Actions</center></th>
	</tr>
			</thead>
			<tbody>
				<% for district in @districts %>
					<tr>
						<td><%= district.district_name.titleize%> </td>
						<td class="center"><%= district.schools.count%> </td>
						<td class="center"><%= district.visitors.count%> </td>
						<td class="center"><%= district.assessments.where(:start_time=>(@start_time..@end_time.end_of_day)).count%> </td>
						<td class="center"><%= district.mentorings.where(:start_time=>(@start_time..@end_time.end_of_day)).count%> </td>
						<td class="center"><%= district.pd_psts.where(:start_time=>(@start_time..@end_time.end_of_day)).count%> </td>
						<td class="center"><%= district.pd_dtes.where(:start_time=>(@start_time..@end_time.end_of_day)).count%> </td>
						<td class="center">
						<% if can? :view_compliance_reports, district %>
							<%= link_to "View Details", compliance_report_district_path(district), :class => 'btn' %> 
						<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
</table>
<br/>
<br/>