<table class="table table-bordered" id="district_compliance_dtable">
	<thead>
	<tr>
		<th> Name </th>
		<th><center> Total Activities Expected</center> </th>
		<th> <center> Total Activities Conducted </center></th>
		<th> <center> % Compliant </center></th>
		<th> <center> Actions </center> </th>
		<th> <center> Child Health Count </center> </th>
		<th> <center> Household Health Count </center> </th>
		<th> <center> Family Planning Count </center> </th>
		<th> <center> Maternal Count</center> </th>
		<th> <center> Newborn Count </center> </th>
		<th> <center> SG Meeting Count </center> </th>
	</tr>
			</thead>
			<tbody>
				<% for visitor in @visitors %>
					<% child_health_count = visitor.child_health_reports.where(:start_time=>(@start_time..@end_time.end_of_day)).count %>
					<% household_count = visitor.household_reports.where(:start_time=>(@start_time..@end_time.end_of_day)).count %>
					<% fp_count = visitor.fp_clients.where(:start_time=>(@start_time..@end_time.end_of_day)).count %>
					<% maternal_count = visitor.maternals.where(:start_time=>(@start_time..@end_time.end_of_day)).count %>
					<% newborn_count = visitor.newborns.where(:start_time=>(@start_time..@end_time.end_of_day)).count %>
					<% support_count = visitor.support_meetings.where(:start_time=>(@start_time..@end_time.end_of_day)).count %>
					<% total_count = support_count + newborn_count + maternal_count + fp_count + household_count + child_health_count %>
					<% if total_count < (@temp_expectation_visits*6) %> 
						<tr class="fail">
					<% else %>
						<tr class="pass">
					<% end %>
						<td><%= visitor.name.titleize%> </td>
						<td class="center"><%=(@temp_expectation_visits*6) %></td>
						<td class="center"><%=total_count%> </td>
						<td class="center"><%=(total_count.to_f/(@temp_expectation_visits*6).to_f).round(3)*100 %> </td>
						<td class="center"><%= link_to "View Details", compliance_report_user_path(visitor) %> </td>
						
						<td class="center">
							<%= (child_health_count.to_f/(@temp_expectation_visits).to_f).round(3)*100 %> % (<%= child_health_count %> / <%= @temp_expectation_visits %>)
						</td>
						<td class="center">
							<%= (household_count.to_f/(@temp_expectation_visits).to_f).round(3)*100 %> % (<%= household_count %> / <%= @temp_expectation_visits %>)
						</td>
						<td class="center">
							<%= (fp_count.to_f/(@temp_expectation_visits).to_f).round(3)*100 %> % (<%= fp_count %> / <%= @temp_expectation_visits %>)
						</td>
						<td class="center">
							<%= (maternal_count.to_f/(@temp_expectation_visits).to_f).round(3)*100 %> % (<%= maternal_count %> / <%= @temp_expectation_visits %>)
						</td>
						<td class="center">
							<%= (newborn_count.to_f/(@temp_expectation_visits).to_f).round(3)*100 %> % (<%= newborn_count %> / <%= @temp_expectation_visits %>)
						</td>
						<td class="center">
							<%= (support_count.to_f/(@temp_expectation_visits).to_f).round(3)*100 %> % (<%= support_count %> / <%= @temp_expectation_visits %>)
						</td>
					</tr>
				<% end %>
			</tbody>
</table>
<br/>
<br/>