<ul class="breadcrumb">
  <li>
	<%= link_to "Punjab", school_report_province_path('punjab'), :method => :get %> <span class="divider">/</span>
  </li>
  <li class="active"><%=@district.name.titleize%></li>
</ul>

<div class="tabbable ">
        <ul class="nav nav-pills">
          <li class="active"><a href="#Assessments-Report" id="Assessments-Report-link" data-toggle="tab">Assessments Report</a></li>
          <li><a href="#Mentorings-Report" id="Mentorings-Report-link" data-toggle="tab">Mentorings Report</a></li>
        </ul>

        <div class="tab-content">
			<div class="tab-pane active" id="Assessments-Report">
				<div id="loading1" class="loading"><h2>Loading Please Wait</h2>  <%= image_tag("large-spinner.gif", :alt => "Loading....") %></div>
			</div>
			<div class="tab-pane" id="Mentorings-Report">
				<div id="loading2" class="loading"><h2>Loading Please Wait</h2>  <%= image_tag("large-spinner.gif", :alt => "Loading....") %></div>		
			</div>
		</div>
</div>


<div id = "visualizations_area" style='display: none;'>
	<legend><div id = "visualization_name"  style='display: inline;'> Comparison Graph (Page 1)</div><small> - <div id="indicator_name" style='display: inline;'> Students in Grade 3 appearing for paper </div></small></legend>

	<div class="row">
		<div class = "span1" id="pagination_controls">
			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs">
				<% @cluster_sets.each_with_index {|set, index| %>
					<% if index == 0 %>
						<li class="active"><a href="#barchart_<%= index+1 %>" data-toggle="tab" id ="barchart_<%= index+1 %>_link"> Page <%= index+1 %></a></li>
					<% else %>
						<li><a href="#barchart_<%= index+1 %>" data-toggle="tab" id ="barchart_<%= index+1 %>_link"> Page <%= index+1 %></a></li>
					<% end %>
				<% } %>
				</ul>
			</div>
		</div>
			<div id="visualization_span" class = "span11">
				<div class="chart_panel" id='visualization_div' style='height: 500px;'>
			</div>
		</div>
	</div>

	<div class="tabbable tabs-below">
		<ul class="nav nav-tabs">
		<li class="active"><a href="#indicator_barchart_link" data-toggle="tab" id = "indicator_barchart_link" ><i class="icon-signal"></i> Performance Chart</a></li>
		<li><a href="#indicator_scatterplot" data-toggle="tab" id = "indicator_scatterplot_link" ><i class="icon-th"></i> Performance Scatter-Plot</a></li>
		<li><a href="#indicator_timeline" data-toggle="tab" id = "indicator_timeline_link" ><i class="icon-time"></i> Overall Timeline</a></li>
		</ul>
	</div>
</div>