<ul class="breadcrumb">
  <li>
	<%= link_to "Punjab", indicators_report_province_path('punjab'), :method => :get %> <span class="divider">/</span>
  </li>
  <li>
	<%= link_to "#{@district.name.titleize}", indicators_report_district_path(@district) %> <span class="divider">/</span>
  </li>
  <li>
	<%= link_to "#{@cluster.name.titleize}", indicators_report_cluster_path(@cluster) %> <span class="divider">/</span>
  </li>
  <li class="active"><%=@school.name.titleize%></li>
</ul>

<div class="tabbable ">
	<ul class="nav nav-pills">
	  <li class="active"><a href="#Assessments-Report" data-toggle="tab">Assessments Report</a></li>
	  <li><a href="#Mentorings-Report" data-toggle="tab">Mentorings Report</a></li>
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active" id="Assessments-Report">
			<div class="page-header"> <h1><%="#{@school.name.titleize}" %> - Assessments Report </h1> </div>
				
			<div id="loading" class="loading"><h2>Loading Please Wait</h2>  <%= image_tag("large-spinner.gif", :alt => "Loading....") %></div>
			<div id ="stuff"  style='display: none;'>

				<%= simple_form_for :time_filter, :remote => true, :html => {:"data-spinner" => "#time_filter2_spinner"} do |f| %>
					<div class="inputs">
						<%=f.hidden_field :id, :value => @school.id %>
						<div class="row">
							<center> From: <%= f.text_field :start_time, :value=>Time.now.prev_month.beginning_of_month.strftime("%d-%m-%Y"), :class => "span1_5 calendar_field",:id=>"assessment_start"  %> 
							Till: <%= f.text_field :end_time, :value=>Time.now.prev_month.end_of_month.strftime("%d-%m-%Y"),  :class => "span1_5 calendar_field", :id=>"assessment_till"   %> 
							<%= button_tag(:type => :submit, :class => 'btn btn-info x') do %> <i class='icon-search icon-white'></i> Filter Results<% end %> <%= spinner_tag 'time_filter2_spinner' %>
							</center>
						</div>
					</div>
				<% end %>
				
			<legend>School Data</legend>
			<div class = "row"> 
				<div class="span2">
						<h4>EMIS Code: </h4> <br/>
						<h4>Name: </h4> <br/>
						<h4>Level: </h4> <br/>
						<h4>District: </h4> <br/>
						<h4>Cluster: </h4> <br/>
						<h4>Tehsil: </h4> <br/>
						<h4>Location: </h4> <br/>
				</div>
				<div class="span5">
					<%= @school.emiscode %><br/><br/>
					<%= @school.school_name %><br/><br/>
					<%= @school.school_level %><br/><br/>
					<%= @school.district.name %><br/><br/>
					<%= @school.cluster.name %><br/><br/>
					<%= @school.tehsil.tehsil_name %><br/><br/>
					<%= @school.school_location.school_location_description %><br/><br/>
				</div>
				
				<div class="span5">
					<div class="well">
					<table class="table" >
						<thead>
							<th>Indicator</th>
							<th><center>Average</center></th>
							<th><center>Latest Assessment (<%= @latest_assessment? @latest_assessment.assessment.start_time.strftime("%B #{@latest_assessment.assessment.start_time.day.ordinalize} %Y ") : nil%>)</center></th>
						</thead>
						<tbody>
							<tr>
								<td>Students appearing for paper in Grade-3:</td>
								<td class="center"><div id = "assessment_grade3_average"> <%= @school_assessment_averages.average_monthly_consumption_average_c %></div></td> 
								<td class="center"><%= @latest_assessment? @latest_assessment.average_monthly_consumption : "N/A" %></td> 
							</tr>
							<tr>
								<td>Students appearing for paper in Grade-4:</td>
								<td class="center"><div id = "assessment_grade4_average"> <%= @school_assessment_averages.students_grade4_average_c %></div></td>
								<td class="center"><%= @latest_assessment? @latest_assessment.students_grade4 : "N/A" %></td>
							</tr>
							<tr>
								<td>Students appearing for paper in Grade-5:</td>
								<td class="center"><div id = "assessment_grade5_average"> <%= @school_assessment_averages.students_grade5_average_c %></div></td>
								<td class="center"><%= @latest_assessment? @latest_assessment.students_grade5 : "N/A" %></td>
							</tr>
							<tr>
								<td>Teachers present:</td>
								<td class="center"><div id = "assessment_teacher_count_average"> <%= @school_assessment_averages.teachers_present_average_c %></div></td>
								<td class="center"><%=  @latest_assessment? @latest_assessment.teachers_present : "N/A"%></td>
							</tr>
							<tr>
								<td>Tasks identified for HT:</td>
								<td class="center"><div id = "assessment_tasks_identified_average"><%= @school_assessment_averages.tasks_identified_average_c %></div></td>
								<td class="center"><%= @latest_assessment? @latest_assessment.tasks_identified : "N/A"%></td>
							</tr>		
							<% if @latest_assessment %>
								<tr>
									<td>Actions: </td>
									<td class="center">N/A</td>
									<td class="center"><%= link_to "View Details", phone_entry_path(@latest_assessment.assessment)%></td>
								</tr>
							<% end %>
						</tbody>
					</table>
					</div>
				</div>
			</div>
				
				<br/><br/>
				<legend>Assessment History</legend>

				<div id="chart_1"><%= render 'school_assessments_table' %></div>
				<br>
				<br>
			
			<div class="tabbable">
				<ul class="nav nav-pills">
				<li class="active"><a href="#assessment_indicator_1" data-toggle="tab">Grade 3 Assessment</a></li>
				<li><a href="#assessment_indicator_2" data-toggle="tab">Grade 4 Assessment</a></li>
				<li><a href="#assessment_indicator_3" data-toggle="tab">Grade 5 Assessment</a></li>
				<li><a href="#assessment_indicator_4" data-toggle="tab">Teacher Presence</a></li>
				<li><a href="#assessment_indicator_5" data-toggle="tab">Tasks Identified for Cooperation of HT</a></li>
				</ul>
			</div>
			
			<div class="tab-content">
				<% counter = 1 %>
				<% for indicator in @assessment_indicators_by_month %>
					<% if counter ==1 %>
						<div class="tab-pane active" id="assessment_indicator_<%= counter.to_s %>">
					<% else %>
						<div class="tab-pane" id="assessment_indicator_<%= counter.to_s %>">
					<% end %>
					<div class="tab-content">
						<div class="tab-pane active" id="assessment_indicator_<%=counter.to_s%>_timeline">
							<legend>School Average <small> - <%= indicator.name%> </small></legend>
							<div id='timelinea<%=counter.to_s%>' style=' height: 500px;' >						
								<div id="loadinga<%=counter.to_s%>" class="loading"><h2>Loading Please Wait</h2>  <%= image_tag("large-spinner.gif", :alt => "Loading....") %></div>
							</div>
						</div>
					</div>
						
						<div class="tabbable tabs-below">
							<ul class="nav nav-tabs">
							<li class="active"><a href="#assessment_indicator_<%=counter.to_s%>_timeline" data-toggle="tab"  id = "assessment_indicator_<%=counter.to_s%>_timeline_link">Overall Trend</a></li>
							</ul>
						</div>
						
					</div>
					<% counter += 1 %>
				<% end %>
			</div>
		</div>
	</div>
	  
	<div class="tab-pane" id="Mentorings-Report">
		<div class="page-header"> <h1><%="#{@school.name.titleize}" %> - Mentorings Report </h1> </div>
		<br/>
		
		
		<%= simple_form_for :time_filter, :remote => true, :html => {:"data-spinner" => "#time_filter_spinner"} do |f| %>
			<div class="inputs">
				<%=f.hidden_field :id, :value => @school.id %>
				<div class="row">
					<center> From: <%= f.text_field :start_time, :value=>Time.now.prev_month.beginning_of_month.strftime("%d-%m-%Y"), :class => "span1_5  calendar_field",:id=>"mentoring_start"  %> 
					Till: <%= f.text_field :end_time, :value=>Time.now.prev_month.end_of_month.strftime("%d-%m-%Y"),  :class => "span1_5 calendar_field" ,:id=>"mentoring_till" %> 
					<%= button_tag(:type => :submit, :class => 'btn btn-info x') do %> <i class='icon-search icon-white'></i> Filter Results<% end %> <%= spinner_tag 'time_filter_spinner' %>
					</center>
				</div>
			</div>
		<% end %>
	  
	  	
			<legend>School Data</legend>
			<div class = "row"> 
				<div class="span2">
						<h4>EMIS Code: </h4> <br/>
						<h4>Name: </h4> <br/>
						<h4>Level: </h4> <br/>
						<h4>District: </h4> <br/>
						<h4>Cluster: </h4> <br/>
						<h4>Tehsil: </h4> <br/>
						<h4>Location: </h4> <br/>
				</div>
				<div class="span5">
					<%= @school.emiscode %><br/><br/>
					<%= @school.school_name %><br/><br/>
					<%= @school.school_level %><br/><br/>
					<%= @school.district.name %><br/><br/>
					<%= @school.cluster.name %><br/><br/>
					<%= @school.tehsil.tehsil_name %><br/><br/>
					<%= @school.school_location.school_location_description %><br/><br/>
				</div>
				
				<div class="span5">
					<div class="well">
					<table class="table" >
						<thead>
							<th>Indicator</th>
							<th><center>Average</center></th>
							<th><center>Latest Mentoring (<%= @latest_mentoring ? @latest_mentoring.mentoring.start_time.strftime("%B #{@latest_mentoring.mentoring.start_time.day.ordinalize} %Y ") : nil%>)</center></th>						
						</thead>
						<tbody>
							<tr>
								<td>Score in Lesson Plan Indicator 1:</td>
								<td class="center"><div id = "mentoring_score_indicator1_average"> <%= @school_mentoring_averages.score_indicator1_average_c %></div></td> 
								<td class="center"><%= @latest_mentoring? @latest_mentoring.score_indicator1 : "N/A" %></td> 
							</tr>
							<tr>
								<td>Score in Lesson Plan Indicator 2:</td>
								<td class="center"><div id = "mentoring_score_indicator2_average"> <%= @school_mentoring_averages.score_indicator2_average_c  %></div></td>
								<td class="center"><%= @latest_mentoring? @latest_mentoring.score_indicator2 : "N/A" %></td>
							</tr>
							<tr>
								<td>Score in Lesson Plan Indicator 3:</td>
								<td class="center"><div id = "mentoring_score_indicator3_average"> <%= @school_mentoring_averages.score_indicator3_average_c  %></div></td>
								<td class="center"><%= @latest_mentoring? @latest_mentoring.score_indicator3 : "N/A" %></td>
							</tr>
							<tr>
								<td>Score in Lesson Plan Indicator 4:</td>
								<td class="center"><div id = "mentoring_score_indicator4_average"> <%= @school_mentoring_averages.score_indicator4_average_c %></div></td>
								<td class="center"><%=  @latest_mentoring? @latest_mentoring.score_indicator4 : "N/A"%></td>
							</tr>
							<tr>
								<td>Students Present from Nursery to G-5:</td>
								<td class="center"><div id = "mentoring_students_present_average"><%= @school_mentoring_averages.students_present_average_c  %></div></td>
								<td class="center"><%= @latest_mentoring? @latest_mentoring.students_present : "N/A"%></td>
							</tr>				
							<tr>
								<td>Teachers Present:</td>
								<td class="center"><div id = "mentoring_teachers_present_average"><%= @school_mentoring_averages.teachers_present_m_average_c %></div></td>
								<td class="center"><%= @latest_mentoring? @latest_mentoring.teachers_present : "N/A"%></td>
							</tr>					
							<tr>
								<td>Tasks Completed by HT %:</td>
								<td class="center"><div id = "mentoring_tasks_completed_average"><%= @school_mentoring_averages.tasks_completed_average_c  %></div></td>
								<td class="center"><%= @latest_mentoring? @latest_mentoring.tasks_completed : "N/A"%></td>
							</tr>		
							<tr>
								<td>Report Cards Issued %:</td>
								<td class="center"><div id = "mentoring_report_cards_issued_average"><%= @school_mentoring_averages.report_cards_issued_average_c %></div></td>
								<td class="center"><%= @latest_mentoring? @latest_mentoring.report_cards_issued : "N/A"%></td>
							</tr>
							<% if @latest_mentoring %>
								<tr>
									<td>Actions: </td>
									<td class="center">N/A</td>
									<td class="center"><%= link_to "View Details", phone_entry_path(@latest_mentoring.mentoring)%></td>
								</tr>
							<% end %>
						</tbody>
					</table>
					</div>
				</div>
			</div>
	  
		<legend>Mentoring History</legend>

		<div id="chart_2"><%= render 'school_mentorings_table' %></div>	


			<div class="tabbable">
				<ul class="nav nav-tabs">
				<li class="active"><a href="#mentoring_indicator_1" data-toggle="tab">Lesson Plan-1</a></li>
				<li><a href="#mentoring_indicator_2" data-toggle="tab">Lesson Plan-2</a></li>
				<li><a href="#mentoring_indicator_3" data-toggle="tab">Lesson Plan-3</a></li>
				<li><a href="#mentoring_indicator_4" data-toggle="tab">Lesson Plan-4</a></li>
				<li><a href="#mentoring_indicator_5" data-toggle="tab">Student Attendance</a></li>
				<li><a href="#mentoring_indicator_6" data-toggle="tab">Teacher Attendance</a></li>
				<li><a href="#mentoring_indicator_7" data-toggle="tab">HT Performance</a></li>
				<li><a href="#mentoring_indicator_8" data-toggle="tab">Report Cards Issued</a></li>
				</ul>
			</div>
			<br/>

			<div class="tab-content">
				<% counter = 1 %>
				<% for indicator in @mentoring_indicators_by_month %>
					<% if counter ==1 %>
						<div class="tab-pane active" id="mentoring_indicator_<%= counter.to_s %>">
					<% else %>
						<div class="tab-pane" id="mentoring_indicator_<%= counter.to_s %>">
					<% end %>
					<div class="tab-content">
						<div class="tab-pane active" id="mentoring_indicator_<%=counter.to_s%>_timeline">
							<legend>School Average <small> - <%= indicator.name%> </small></legend>
							<div id='timelineb<%=counter.to_s%>' style=' height: 500px;' >						
								<div id="loadingb<%=counter.to_s%>" class="loading"><h2>Loading Please Wait</h2>  <%= image_tag("large-spinner.gif", :alt => "Loading....") %></div>
							</div>
						</div>
					</div>
						
						<div class="tabbable tabs-below">
							<ul class="nav nav-tabs">
							<li class="active"><a href="#mentoring_indicator_<%=counter.to_s%>_timeline" data-toggle="tab"  id = "mentoring_indicator_<%=counter.to_s%>_timeline_link">Overall Trend</a></li>
							</ul>
						</div>
						
					</div>
					<% counter += 1 %>
				<% end %>
			</div>
		
		</div>
	</div>
</div>


<script type="text/javascript">
<%= render_chart_without_script indicator_timeline(@assessment_indicators_by_month[0], @collection_names), 'timelinea1'%>

// Until I figure out a more unobtrusive way to handle on the fly rendering we're stuck with this monster
<% @assessment_indicators_by_month.each_with_index {|indicator, index| %> //for each indicator
	
	var timeline_assessment_<%=(index+1)%> = function()
	{
		<%= render_chart_with_callback indicator_timeline(@assessment_indicators_by_month[index], @collection_names), 'timelinea'+(index+1).to_s%>
		function myReadyHandler() 
		{
			$("#loadinga<%=index%>").hide();
		}	
	}

	var assessment_indicator_timeline_<%=(index+1)%> = 0;
<% } %>

<% @mentoring_indicators_by_month.each_with_index {|indicator, index| %> //for each indicator
	
	var timeline_mentoring_<%=(index+1)%> = function()
	{
		<%= render_chart_with_callback indicator_timeline(@mentoring_indicators_by_month[index], @collection_names), 'timelineb'+(index+1).to_s%>
		function myReadyHandler() 
		{
			$("#loadingb<%=index%>").hide();
		}	
	}

	var mentoring_indicator_timeline_<%=(index+1)%> = 0;
<% } %>

var last_type = "timeline";

// We draw only when div is visible to deal with garbled text-bug in IE + Firefox w/google visualizations. We draw only once to prevent flickering
$('a[data-toggle="tab"]').on('shown', function (e) 
	{
		e.preventDefault()
		var now_tab = e.target // activated tab
		var divid = $(now_tab).attr('href').substr(1);
		
		if (divid == "Mentorings-Report")
		{	
			last_type = "timeline";
			timeline_mentoring_1();
			mentoring_indicator_timeline_1 = 1;
		}
		
		<% @assessment_indicators_by_month.each_with_index {|indicator, index| %>
			if (divid == "assessment_indicator_<%=(index+1).to_s%>")
			{
				last_type = "timeline";
				if (assessment_indicator_timeline_<%=(index+1).to_s%> == 0)
				{
					timeline_assessment_<%=(index+1)%>();
					assessment_indicator_timeline_<%=(index+1).to_s%> = 1;
				}
			}
		<% } %>		
		
		<% @mentoring_indicators_by_month.each_with_index {|indicator, index| %>
			if (divid == "assessment_indicator_<%=(index+1).to_s%>")
			{
				last_type = "timeline";
				if (mentoring_indicator_timeline_<%=(index+1).to_s%> == 0)
				{
					timeline_mentoring_<%=(index+1)%>();
					mentoring_indicator_timeline_<%=(index+1).to_s%> = 1;
				}
			}
		<% } %>		

	});
	
</script>