<div class="page-header"> <h1> <%= @province.name %> <div id="visualization_type" class="pull-right" style="font-weight:normal;">Overall Barchart - Compliance Report</div></h1> </div>


<%= render  :partial => 'partials/compliance_controls', :locals => { :parent => nil} %>

	<div class="alert alert-info fade in" data-alert="alert">
		<a class="close" data-dismiss='alert' href="#">x</a>
		<div id="help_bar">
			This chart displays a <strong>snap-shot view</strong> of the <strong>total number of phone entries submitted</strong> by officers from each district as a <strong>percentage of the total number of phone entries expected</strong> from them (compliance). 
			A <strong>better compliance percentage</strong> shows that a district is achieving <strong>a quantitatively higher standard</strong> in it's phone-based reporting/monitoring activities.
		</div>
	</div>
	

<div class="tabbable">

        <div class="tab-content">
		
			<div class="tab-pane active" id="total_compliance_barchart">
				<div class="chart_panel" id='visualization_area'>
					<div id="loading2" class="loading"><h2>Loading Please Wait</h2>  <%= image_tag("large-spinner.gif", :alt => "Loading....") %></div>		
				</div>
			</div>
			
			<div class="tab-pane" id="activity_map">
				<%= gmaps(:map_options => { :auto_adjust => "true", :type => "HYBRID", :raw => '{ streetViewControl: false }'},
						  :markers     => { :data => generate_entry_markers(@phone_entries), :options => {:do_clustering => true } },
						  :polygons => { "data" => @boundaries } )
				 %>	
			</div>
			
		</div>
</div>
<br/>
<hr>

<div class="row">
	<div class="span12">
		<legend>Compliance Table 
</legend>
	</div>
</div>

<div id="chart"><%= render  :partial => 'phone_entries/compliance_table', :locals => { :collection => @districts } %></div>

<script type="text/javascript">

	preloading_functions["barchart"] = function()
	{
		<%= render_chart_define_chart overall_compliance_barchart(@districts), 'visualization_area'%>
	}
	
	preloading_functions["graph"] = function()
	{
		<%= render_chart_define_chart overall_compliance_trend(@province,'auto',550), 'visualization_area'%>
	}
	
	loading_functions["total_compliance_barchart"] = function()
	{
		<%= render_chart_with_transition overall_compliance_barchart(@districts,'auto',700), 'visualization_area' %>
	}
	
	loading_functions["activity_compliance_barchart"] = function()
	{
		<%= render_chart_with_transition activity_compliance_barchart(@districts,'auto',2300), 'visualization_area' %>
	}
	
	loading_functions["total_compliance_trend"] = function()
	{
		<%= render_chart_with_transition overall_compliance_trend(@province,'auto',550), 'visualization_area' %>
	}
	
</script>